body{
    font-family: sans-serif;
    color: rgb(67, 61, 61);
}

header{
    text-align: center;
}

span{
    background-color: rgb(0,255,0);
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

}

